body{
    background-color: #fa98b2;
}

#title2{
    text-align: center;
    border: 2px solid #BF2A52 ;
    background-color: #ee4673;
    color: white;
}

form{
    text-align: center;
    background-color: #ffd5e0a8;
}