body{
    background-color: #e2d5b5 ;
    
}

.container {
  position: relative; 
  display: inline-block; 
}

.container-img-texto {
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px; 
  
}

.texto-sobreposto {
  position: absolute;
  top: 30%; 
  left: 50%; 
  transform: none;
  color: #000000; 
}

p{
    font-size: 12px;
}

h1, #p3{
    text-align: center;
    border: 2px solid #BF2A52 ;
    background-color: #ee4673;
    color: white;
}

#title2, h3{
    text-align: center;
    color: #ee4673;
}

div{
    text-decoration: none;
}

